<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="bower_components/bookmvc-common/base.css">
        <style> [v-cloak] { display: none; } </style>
        <script type="text/javascript">
            function init() {
                gapi.client.setApiKey('AIzaSyCGE57EOSyI_jw0hWB8EYnoVtjnqj9XzmY');
                gapi.client.load('books', 'v1');
            }
        </script>
    </head>
    <body>
        <div id="wrapper">
            <section id="booksapp">
                <h1>books</h1>
                <div id="lookup-list" class="clearfix">
                    <header id="header">

                        <input
                            id="new-book"
                            autofocus
                            autocomplete="off"
                            placeholder="Enter book title"
                            v-model="newBook"
                            v-on="keyup:addBook | key enter"
                        >
                        <!--
                        <div id='fake_textarea' contenteditable>
                            <div class="lookup-item placeholder">Paste in a list of books, one per line, here.</div>
                            <ul id="">
                                <li
                                    class=""
                                    v-repeat="books | filterBooks"
                                    v-class="
                                        editing   : this == editedBook
                                    "
                                >
                                    <div class="">
                                        <label v-text="title" v-on="dblclick: editBook(this)"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        -->
                    </header>

                    <section class="main" v-show="books.length" v-cloak>
                        <ul id="book-list">
                            <li
                                class="book"
                                v-repeat="books | filterBooks"
                                v-class="
                                    editing   : this == editedBook
                                "
                            >
                                <div class="view">
                                    <label v-text="title" v-on="dblclick: editBook(this)"></label>
                                </div>
                                <input
                                    class="edit"
                                    type="text"
                                    v-model="title"
                                    v-book-focus="this == editedBook"
                                    v-on="
                                        blur  : doneEdit(this),
                                        keyup : doneEdit(this) | key enter,
                                        keyup : cancelEdit(this) | key esc
                                    "
                                >
                            </li>
                        </ul>
                    </section>

                    <footer id="footer" v-show="books.length" v-cloak>
                        <span id="book-count">
                            <strong v-text="remaining"></strong> {{remaining | pluralize item}} left
                        </span>
                        <ul id="filters">
                            <li><a href="#/all" v-class="selected: activeFilter == 'all'">All</a></li>
                        </ul>
                        <button id="lookup-all" v-on="click:lookupAll">
                            Look up {{books.length}} books.
                        </button>
                    </footer>
                </div>
                <div id="results-list" class="clearfix">
                    <section class="main" v-show="books.length" v-cloak>
                        <ul id="book-list">
                            <li
                                class="book"
                                v-repeat="books | filterBooks"
                                v-class="
                                    editing   : this == editedBook
                                "
                            >
                                <div class="view">
                                    <img src="{{imageLink}}"></img>
                                    <p class="title">{{title}}</p>
                                    <p class="author">{{author}}</p>
                                    <p class="isbn">{{isbn}}</p>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <footer id="footer" v-show="books.length" v-cloak>
                        <button id="export-all" v-on="click:exportAll">
                            Export {{books.length}} books.
                        </button>
                    </footer>
                </div>
            </section>
            <footer id="info">
                <p>Double-click to edit a book</p>
                <p>Powered by <a href="http://vuejs.org">Vue.js</a></p>
                <p>Created by <a href="http://julia-t.com">Julia Teitelbaum</a></p>
            </footer>
        </div> <!-- end #wrapper -->

        <!-- load google books api, and call init function once it's loaded -->
        <script src="https://apis.google.com/js/client.js?onload=init"></script>
        <script src="js/vue.js"></script>
        <script src="bower_components/director/director.js"></script>
        <script src="js/store.js"></script>
        <script src="js/app.js"></script>
        <script src="js/routes.js"></script>
    </body>
</html>